* { 
    box-sizing: border-box;
  }

/* Global Styles */
body{
    color: #2E2715;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
  padding:0;
}

.space-below{
    margin-bottom: 1em;
}

.emphasis{
    font-weight: 700;
}

.underline{
    text-decoration: underline;
}

.highlight{
    background-color: yellow;
}

img {
    display: block;
    width: 300px;
    border: 0;
    max-width: 100%;
    height: auto;
    /* margin-bottom: 1em; */
}

a:hover{
    text-decoration: none;
}

h1{
    font-size: 4.68rem;
    line-height: 0.9;
}
h2{
    font-size: 2.85rem;
    line-height: 1;
    padding-bottom: 0.5em;

}

.content_wrapper h1{
    font-size: 70px;
}

.content-wrapper h2{
    font-size:40px;
}

h1, h2{
    /* font-family: 'Caveat', cursive; */
    font-weight: 400;
    

}

h3{
    margin-bottom: 1em;
}
 p{
    margin-bottom: 1em;
 }

 blockquote{
    font-style: oblique;
 }
/* nav basic styling */
/* nav bar bg color */
nav{
    padding: 0 15px;
    background-color: #515c66;
    z-index: 99999;
}

nav a{
    text-decoration: none;
}

.menu{
    margin:0;
    padding:0;
}

.menu,
.submenu{
    list-style-type: none;
    z-index: 800;
}

.name-logo{
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.menu-item{
    padding: 10px;
}

/* change carrot icon when submenu mouseover */
.menu-item a:hover::after {
    color: #292E33;
}

/* change menu items color when mouse hover */
.menu-item a:hover{
    background-color: #B1B9C1;
    color: #292E33;
}


/*  nav mobile design */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* menu text color */
.menu li a{
    display: block;
    padding: 15px 10px;
    /* color:#D0AF8E; */
    color: white;
    font-weight: 600;
    /* border: 2px solid yellow; */
}

/* controls submenu item highlight size */
.menu li.subitem a{
    padding: 15px 15px;
    /* border: 5px solid purple; */
}

/* hamburger menu */
.toggle{
    order: 1;
    font-size: 20px;
    color: white;
}

.menu-item{
    order:3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .menu-item{
    display: block;
}

/* mobile submenu styles */

.submenu{
    display: none;
    padding: 0;
}

.submenu-active .submenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
   
    /* border: 1px solid green; */
    
}

.has-submenu i {
    font-size: 12px;
}

/* add down arrows next to menu items with submenus */
/* resting color of submenu carrot */
.has-submenu > a::after{
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: #FFD700;
    padding-left: 5px;
}

.subitem a{
 
  
}

/* do i want to highlight top menu that's open in a diff color? */
/* submenu bg color */
.submenu-active{
/* background-color: #515C66; */
background-color: #464F57;
border-radius: 3px;
}

/* only highlight the submenu items when clicked */
.submenu-active .subitem{
    /* background-color: grey; */
    border-radius: 3px;
    /* border:1px solid red; */
    padding: 0 0px;
}


 /***************************************** main body *****************************************/
 

 /* wraps each section in a container */

.content_wrapper{
    max-width: 800px; 
    width: 85%; /* applies when viewport < 800px*/
    margin: 0 auto; /* centers content wrapper horizontally */
    padding: 40px 0;  /* 60px prev value pushes content in on top and bottom to eliminate gaps between sections */
  }

  /********************* intro section with bg image *************************************** */
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-image-main {
    background-color: rgba(81,92,102,.5);
    background-image: url(./images/hoodriverbridge2.jpg);
    /* display: block; */
    background-size: cover;
    background-position: top left;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

.hero-wrapper{
    padding-left: 1em;
    padding-right: 1em;
}

@media only screen and (max-width: 767px){
    .hero-image-main{
        background-image: url(./images/hoodriverbridge2-mobile.jpg);
    }
}

.hero-title,
.hero-subtitle{
   
    /* increase visibility over picture */
    text-shadow: 0px 0px 20px #aaaaaa;
}

.hero-title{
    
    color: #FFD700;
 
}

.hero-subtitle{
    color: #fff;
}

.intro{
    background-color: #BEC5CB;
}

.intro p{
    margin-bottom: 10px;
}


/* ************************ Issues Grid ********************** */

/* entire section */
.issues{

}

.issues h2{
    color: #2E2715;
}

/************************* holds all issues  - basic flexbox ***********/
.issues-container{
display: flex;
flex-direction: column;
padding-left: 0;
padding-bottom: 1em;
}

/********************** issue image grid ************************* */
.issue{
    
    /* border: 1px solid #515c66; */
    border-radius: 5px;
    /* padding: 20px; */
    
}

.issue-bucket{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    /* border: 1px solid red; */
    /* margin-bottom: 1em; */
    /* padding: 0; */
}

/* have title overlay image and fill all available space */
.issue-title{
    padding: 1.5em;
    text-decoration:none;
    text-transform: uppercase;
    color:white;
    font-weight: 600;

    grid-column: 1;
    grid-row: 1/2;

    display: flex;
    align-items: flex-end;

    background-color: hsla(0, 0%, 5%, 0.4);

}

.issue-title:hover{
    /* color:#D0AF8E; */
    color: #FFD700;
}

/* place image and title in same location */
.issue-img{
grid-column: 1;
grid-row: 1/2;

/* make images same height */
width: 100%;
height: 250px;

object-fit: cover;
/* border: 1px solid red; */
}

.issue p{
    padding-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.issue p a{
    color:#1f6fb3;
    text-decoration: none;
    font-weight: 600;
}

.issue p a:hover,
issue p a:focus{
    text-decoration: underline;
}

 /*************************************** Footer ************************************************/
footer{
    /* add font and bg colors here */
    /* background-color: #2E2715;
    color: #A17A3E; */
    background-color: #515c66;
    color:#BEC5CB;
}

footer h2{
    color: white;
    text-align: center;
}

footer a{
    color: #BEC5CB;
}

footer a:hover{
    color: #FFD700;
}

.contact-list{
    list-style-type: none;
    padding: 0;
}
    
.contact-list a{
    /* color:#E5BE10; */
    padding: 15px;
    text-decoration: none;
    display:inline-block;
}

.icon{
    height: 1.25em;
    width: 1.25em;
    display:inline-block;
    vertical-align:text-bottom;
    padding-right: 3px;
    /* set color via  tool here: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(79%) sepia(11%) saturate(151%) hue-rotate(166deg) brightness(98%) contrast(91%);
}

.icon:hover{
    filter: invert(78%) sepia(16%) saturate(2463%) hue-rotate(2deg) brightness(107%) contrast(103%);
}

/*************************************** responsive styles **********************************/

/*************** phone nav ***********************/
@media screen and (max-width:749px){

    h1{
        font-size: 60px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2{
       line-height: 1; 
       margin-bottom:15px;
    }

    .contact-list a{
        padding: 5px;
    }
    .content_wrapper h1{
        font-size: 70px;
    }

    .content_wrapper h2{
        font-size: 35px;
    }
}

/* tablet nav */

@media (min-width:700px){
    .menu{
        justify-content: center;
    }
    .name-logo{
        flex:1;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }

    img{
        width: 400px;
    }

    /* figure out vertical align */

   .hero-title{
    margin-bottom: 40px;
    font-size:6rem;
    line-height: 1.5;
    /* color:#2681D1; */
    font-weight: 700;
   }

   .hero-subtitle{
    margin-bottom: 40px;
   }

   /* issues */

   .issues{

   }
   
   .issues-container{
   flex-direction: row;
   flex-wrap: wrap;
   }
   
   .issue{
    width: 30%;
    margin-bottom: 2em;
    margin-right: 1em;
    /* border: 1px solid #515c66; */
    border-radius: 5px;
    padding-bottom: 1em;
    
   }
   
   .issue img{
   height: 250px;
   }

   .issue p{
    padding-left: 1em;
   }

}

/* desktop nav */

@media (min-width:960px){

    img{
        width: 700px;
    }
    .content_wrapper{
        max-width: 1200px;
        /* border: 1px solid green; */
    }
    .menu{
        align-items: flex-start;
        flex-wrap:nowrap;
        background: none;
    }

    .name-logo{
        order:0;
    }
    .menu-item{
        order:1;
        position: relative;
        display: block;
        width: auto;
    }

    /* controls dropdown submenu */
    .submenu-active .submenu{
        display: block;
        position: absolute;
        left: 0px;
        top: 68px;
        background-color: #515C66;

    }

    .toggle{
        display: none;
    }

    .submenu-active{
        border-radius: 0;
    }


    /* intro section */

    /* .hero{
        max-width: 75%;
        margin: 2% auto;
    } */

    
    
    .hero-title{
        margin-bottom: 60px;
    }

    .hero-subtitle{
        margin-bottom: 50px;
    }

    /* issues */
    /* issues */

   .issues{

   }

   .issues h2{
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
   }
   
   .issues-container{
    justify-content: center;
   
   }
   
   .issue{
    width: 35%;
   }
   
   .issue img{
   height: 300px;
   }

} 

@media (min-width:750px){

    /* text centers header and footer */
    header, footer {
        text-align: center;
    }
    .contact-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }

/* ***************************** sub pages images ******************************** */

.hero-image-community {
    background-image: url(./images/youth.jpg);
    background-color: rgba(81,92,102, 0.5);
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-community{
        background-image: url(./images/youth-mobile.jpg);
        background-position:top center;
    }
}

.hero-image-safety {
    background-image: url(./images/privacy.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-safety{
        background-image: url(./images/privacy-mobile.jpg);
        background-position: top center;
    } 
}

@media only screen and (max-width: 767px){
    .hero-image-environment{
        background-image: url(./images/environment-mobile.jpg);
        background-position: top center;
    }
}

.hero-image-environment {
    background-image: url(./images/environment.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-financial{
        background-image: url(./images/fiscalresp-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-financial {
    background-image: url(./images/fiscalresp.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-letters{
        background-image: url(./images/letters-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-letters {
    background-image: url(./images/letters.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-about{
        background-image: url(./images/sailing-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-about {
    background-image: url(./images/sailing.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-history{
        background-image: url(./images/orchard-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-history {
    background-image: url(./images/orchard.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-experience{
        background-image: url(./images/deforestation-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-experience {
    background-image: url(./images/deforestation.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-newsarticles{
        background-image: url(./images/newspaper-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-newsarticles {
    background-image: url(./images/newspaper.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-updates{
        background-image: url(./images/updates-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-updates {
    background-image: url(./images/updates.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-privacypolicy{
        background-image: url(./images/privacypolicy-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-privacypolicy {
    background-image: url(./images/privacypolicy.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-answers{
        background-image: url(./images/answers-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-answers {
    background-image: url(./images/answers.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-democrats{
        background-image: url(./images/democrat-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-democrats {
    background-image: url(./images/democrat.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

@media only screen and (max-width: 767px){
    .hero-image-pool{
        background-image: url(./images/pool-mobile.jpg);
        background-position: top center;
    } 
}

.hero-image-pool {
    background-image: url(./images/pool.jpg);
    background-color: rgba(81,92,102,.5);
    /* display: block; */
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    /* padding-bottom: 100px; */
    height: 100vh;
    
}

.subpage-img{
    margin-bottom: 1em;
}

.img-extra-small{
    width: 200px;
}

.img-small{
    width: 400px;
}

.img-medium{
    width: 500px;
}

.image-left-float{
    float: left;
    margin-right: 1em; 
    margin-bottom: 1em;
    }

.image-right-float{
    float:right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.image-center-align{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.iframe-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 1em;
}

.responsive-iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

}

/* for images */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-bottom: 1em;
  }
  
  .grid-item {
    /* border: 1px solid #ccc; */
    text-align: center;
  }

  @media only screen and (max-width: 767px){
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
  }
  
/* **************************** indiv page styles  ******************* */
.section-1{
    background-color: #faf8f5;
}
.section-2{
    background-color: #c4beb0;
}

/* ***************************** letters page ************************* */

.top{
    /* border: 1px solid red; */
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #1f6fb3;
    font-weight: 700;

}

/* ****************************** newspaper link formating ************* */

.newsarticle-container{
    border: 1px solid #2f2e2c;
    border-radius: 6px;
    padding: 1em;
    background-color: #E5E8EA;
    max-width: 500px;
    margin: 2em auto;
}

.newsarticle-titleimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: .5em; */
}
.newsarticle-title{
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    order: 2;
    margin-top: .5em;
    
}

.newsarticle-img{
    width: 100%;
    order:1;
}

.newsarticle-date,
.newsarticle-source {
    font-size: 0.75rem;
    
}

.newsarticle-datetime{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media only screen and (max-width: 767px){
    .newsarticle-datetime{
        flex-direction: column-reverse;

    }
    .newsarticle-title{
        text-align: center;
        
    }

}

.newsarticle-source{
    font-style: italic;
    font-weight: 600;
}

.newsarticle-link {
    font-weight: 700;
    color: #1f6fb3;
}

.newsarticle-link:visited{
    color: #2f2e2c;
}

.newsarticle-link:hover{
    color: #B2641F;
}

/* *********************************** social buttons ****************************** */

.social-buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.twitter-share-button{
    margin-right: 1em;
}

.fb-share-button{
    display:flex;
    align-items: center;
}